<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/register" method="post">
    Username:<label>
        <input type="text" name="username">
    </label>
    Password:<label>
        <input type="password" name="password">
    </label>

    First Name:<label>
        <input type="text" name="first_name">
    </label>
    Last Name:<label>
        <input type="password" name="last_name">
    </label>

    <input type="submit" value="Register">
</form>
</body>
</html>